- content_for :page_title do
  = t('admin.trends.preview_card_providers.title')

%ul
  - @preview_card_providers.each do |preview_card_provider|
    %li= preview_card_provider.domain

= paginate @preview_card_providers
